<header>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom navbar-custom" role="navigation">
    <div class="container">
      <!-- Deadlock logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/"><img src="/images/" width="100%" height="100%" class="d-inline-block align-top" alt="Deadlock"></a>
        <!-- <a href="/"><img src="images/lock.png" style="margin:5px; width: 20%;height: 20%;" ></a>   --> 
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a style="color:white" href="/">Home</a></li>
          {{#if noLogin}}
              <li class="nav-item"><a style="color:white" href="/loginRegister">Log in / Register</a></li>
          {{else}}
             {{#if user}}
               <li class="nav-item"><a style="color:orange" href="/loginRegister/logout">Logout</a></li>
            {{else}}
              <li class="nav-item"><a style="color:white" href="/loginRegister">Log in / Register</a></li>
             {{/if}}
          {{/if}}
            <li class="nav-item"><a style="color:white" href="/aboutus">About Us</a></li>
          <li class="nav-item"><a style="color:white" href="/userpage">User Page</a></li> 
          <li class="nav-item"><a style="color:white" href="/jobPage">View Job List</a></li>
        </ul>
          {{#if curUser}}
            {{#if @root.curUser.admin}}
              <li class="nav-item"><a style="color:white" href="/jobPostingPage">Post A Job</a></li>
            {{/if}}
             {{#if @root.curUser.company}}
               <li class="nav-item"><a style="color:white" href="/jobPostingPage">Post A Job</a></li>
               <li class="nav-item"><a style="color:white" href="/userRankPage">User Rankings</a></li>
             {{/if}}
             {{#if @root.curUser.admin}}
               <li class="nav-item"><a style="color:white" href="/companyAccount">Create Company Account</a></li>
             {{/if}}
          {{else}}
              {{#if @root.user.admin}}
                  <li class="nav-item"><a style="color:white" href="/jobPostingPage">Post A Job</a></li>
              {{/if}}
              {{#if @root.user.company}}
                  <li class="nav-item"><a style="color:white" href="/jobPostingPage">Post A Job</a></li>
                  <li class="nav-item"><a style="color:white" href="/userRankPage">User Rankings</a></li>
              {{/if}}
              {{#if @root.user.admin}}
                  <li class="nav-item"><a style="color:white" href="/companyAccount">Create Company Account</a></li>
              {{/if}}
          {{/if}}
            {{#if curUser}}
            {{#if @root.curUser.repRejNew}}
                {{#isnt @root.curUserrepRejNew "0"}}
                    <div><span class="badge badge-danger">{{@root.curUser.repRejNew}}</span></div>
                {{/isnt}}
            {{/if}}
            {{#if @root.curUser.repAccNew}}
                {{#isnt @root.curUser.repAccNew "0"}}
                    <div><span class="badge badge-danger">{{@root.curUser.repAccNew}}</span></div>
                {{/isnt}}
            {{/if}}
            {{else}}
                {{#if @root.user.repRejNew}}
                    {{#isnt @root.userrepRejNew "0"}}
                        <div><span class="badge badge-danger">{{@root.user.repRejNew}}</span></div>
                    {{/isnt}}
                {{/if}}
                {{#if @root.user.repAccNew}}
                    {{#isnt @root.user.repAccNew "0"}}
                        <div><span class="badge badge-danger">{{@root.user.repAccNew}}</span></div>
                    {{/isnt}}
                {{/if}}
            {{/if}}

      </div>
    </div>
  </nav>
</header>