<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DeadLock - Job List</title>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/standardstyle.css">
  </head>
  <body>
    {{>header}}

    <div class="container">
      <hr />
      <!--<div id="question-list">-->
        <div class="row question-list-headers question-row">
          <div class="col-sm-2 text-center">Id</div>
          <div class="col-sm-2 text-center">Company</div>
          <div class="col-sm-2 text-center">Location</div>
          <div class="col-sm-4">Title</div>
          <div class="col-sm-2">Date</div>
        </div>
      <!--</div>-->
      <hr />     
      {{#each jobs}}
        <a href={{link}}>
          <div class="row question-row">
            <div class="col-sm-2 text-center">{{_id}}</div>
            <div class="col-sm-2 text-center">{{company}}</div>
            <div class="col-sm-2 text-center">{{author}}</div>
            <div class="col-sm-4">{{title}}</div>
            <div class="col-sm-2">{{moment date format="MMMM D, YYYY"}}</div>
          </div>
        </a>
      {{/each}}  
    </div>  
    {{>footer}}
  </body>
</html>