<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SOEN341 Q&amp;A</title>
        <script type="text/javascript" src="DataManager.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/javascripts/questionFrontEnd.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/question.css">
        <style>
            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }
        </style>
    </head>
    <body>
        {{>header}}
       <!--<div w3-include-html="header.html"></div>-->

        <div class="container question-content">
            <div class="row">
                <div class="col-xs-1">
                    <br>
                    <form action = "/question/{{question.id}}/up" method = "post">
                        <input type="hidden" name="_method" value="PATCH"/>
                        <button type="submit" class="not-button"><i class="glyphicon glyphicon-chevron-up not-voted" id="up" onclick="changeGreen()"></i></button>
                        <!-- <i class="glyphicon glyphicon-chevron-up not-voted" id="up" onclick="changeGreen()"></i><br>-->
                    </form>

                    <span id="question-vote">{{question.nbOfVotes}}</span><br> <!-- will have to replace this value with question.VOTECOUNT -->
                    <form action = "/question/{{question.id}}/down" method = "post">
                        <input type="hidden" name="_method" value="PATCH"/>
                        <button type="submit" class="not-button"><i class="glyphicon glyphicon-chevron-down not-voted" id="up" onclick="changeRed()"></i></button>
                    <!--<i class="glyphicon glyphicon-chevron-down not-voted" id="down" onclick="changeRed()"></i> -->
                    </form>
                </div>
                <div class="col-xs-10">
                    <br>
                    <h1>### {{question.title}}</h1>
                </div>
                <div class="col-xs-1">

                </div>
            </div>
            <hr class="dark-blue">
        
            <div class="content">
                <br>
                        {{question.text}}
                <br>
                <br>
            </div>
            <p class="small pull-right">Submitted by question.USER {{question.author}}on question.DATE{{question.date}} ID: {{question.id}}</p>
            <br>
        </div>
        <div class="container question-content">
            <h3>Replies: </h3>
            <hr class="dark-blue">
            <span id="temp-accept">Check database if a question has been accepted, if it has, place it here.<br></span>
            <span id="accept-title" class="hidden"><h5><u>Accepted Reply:</u></h5></span>
            <div class="hidden content"id="accepted-answer">
            </div>
            IF question.replies == empty:<br>
            There are no replies yet, be the first to answer!<br>
            ELSE <br>
            A Javascript function that will loop through all replies and display them EXCEPT the accepted reply. <br>
            <h5> <u>Replies:</u> </h5>
            {{#each question}}
                {{#each replies}}
             <div id="replies-list"> <!-- Javascript function to list all replies will be onload="loadReplies"-->
                <div class="reply">
                    <div class="content">
                        <i class="glyphicon glyphicon-chevron-up not-voted" id="up1" onclick="changeGreen1(this.parentElement)"></i>
                        <span class="reply-vote" id="reply-vote">6</span>
                        <i class="glyphicon glyphicon-chevron-down not-voted" id="down1" onclick="changeRed1(this.parentElement)"></i>
                        {{this.textRep}}
                    </div>
                    <button type="button" class="btn btn-dark accept-reject" onclick="accept(this.parentElement)">Accept</button>
                    <button type="button" class="btn btn-dark accept-reject" onclick="reject(this.parentElement)">Reject</button>
                    <p class="small pull-right">Submitted by question.reply.USER on question.reply.DATE</p>
                </div>
             </div>
                {{/each}}
            {{/each}}
        </div>

        <div class="container question-content">
            <h3>Submit a Reply/Answer:</h3>
            <hr class="dark-blue">
            <div class="write">
                <form action="/question/{{question.id}}/reply" method="post" id="reply">
                    <input type="hidden" name="_method" value="PATCH"/>
                    <div class="form-group">
                        <textarea class="form-control content" rows="10" form="reply" name="repform"> </textarea>
                    </div>
                    <button type="Submit" onclick="frontEndSubmit()">Submit</button>
                    Probably will change this button to an actual submit button, for now its only frontend.
                    <br>
                    <br>
                </form> 
            </div>
        </div>

       <!-- <div w3-include-html="footer.html"></div>-->
       {{>footer}}
        <script>
            w3.includeHTML();
        </script>

    </body>
</html>