<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DeadLock - User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <link rel="stylesheet" href="/stylesheets/userpagestyle.css">
    <link rel="stylesheet" href="/stylesheets/standardstyle.css">
  </head>
  <body>
    {{>header}}

    <div class="jumbotron text-center" style="background-color: #116CF6; margin-top: 50px">
      <img class="img-circle profile-picture" src="/images/default1.png">
      <h2>
        <strong>{{user.username}}</strong>
      </h2> 
        {{#if allowEdit}}  
          <button class="btn btn-info" type="button" onclick="location.href='/edituserpage'">Edit profile</button>
        {{/if}}
    </div>

    <!-- User tag scores -->
    <div class="container-fluid">
      <div class="form-group">
        <div class="badge-group-wrap text-center">
          <div class="badge-group" data-toggle="buttons">

            <span class="label tag label-pill label-success">
              <span>2</span>
              <span>Java</span>
            </span>

            <span class="label tag label-pill label-primary">
              <span>2</span>
              <span>PHP</span>              
            </span>      
          
            <span class="label tag label-pill label-info">
              <span>2</span>
              <span>Python</span>              
            </span>      
          
            <span class="label tag label-pill label-default">
              <span>2</span>
              <span>C++</span>              
            </span>      

            <span class="label tag label-pill label-warning">
              <span>2</span>
              <span>C#</span>              
            </span>      
          
            <span class="label tag label-pill label-danger">
              <span>2</span>
              <span>Ruby</span>              
            </span>  

            <span class="label tag label-pill label-success">
              <span>2</span>
              <span>Lisp</span>              
            </span>

            <span class="label tag label-pill label-primary">
              <span>2</span>
              <span>Prolog</span>              
            </span>      
          
            <span class="label tag label-pill label-info">
              <span>2</span>
              <span>HTML</span>              
            </span>
          
            <label class="label tag label-pill label-default">
              <span>2</span>
              <span>CSS</span>              
            </label>      

            <label class="label tag label-pill label-warning">
              <span>2</span>
              <span>JavaScript</span>              
            </label>      
          
            <label class="label tag label-pill label-danger">
              <span>2</span>
              <span>Jade</span>              
            </label>

            <label class="label tag label-pill label-success">
              <span>2</span>
              <span>C</span>              
            </label>

            <label class="label tag label-pill label-primary">
              <span>2</span>
              <span>Fortran</span> 
            </label>      
          
            <label class="label tag label-pill label-info">
              <span>2</span>
              <span>Visual Basic</span>              
            </label>      
          
            <label class="label tag label-pill label-default">
              <span>2</span>
              <span>Assembly</span>              
            </label>      

            <label class="label tag label-pill label-warning">
              <span>2</span>
              <span>Perl</span>              
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 offset-sm-1">

          <!-- Bio Section -->
          <div class="sidebar-module sidebar-module-inset">
            <h4>Bio</h4>
            <p>{{user.bio}}</p>
          </div>

          <!-- Contact Me Section -->
          <div class="card contact-me">
            <div class="card-body">
              <h4 class="card-title text-center">
                <strong>Contact Me</strong>
              </h4>
              <hr />

              <!-- Placeholder user contact me information -->
              <ul style="list-style-type: none;">
                <li>{{user.email}}</li>
                <li><a href="">{{user.github}}</a></li>
                <li><a href="">{{user.linkedin}}</a></li>
                <li>{{user.phoneNumber}}</li>
                <li>{{user.city}}, {{user.country}}</li>
              </ul>

            </div>
          </div>

          <br />

          <!-- About Me Section -->
          <div class="card about-me">
            <div class="card-body">
              <h4 class="card-title text-center">
                <strong>About me</strong>
              </h4>
              <hr />

              <!-- Placeholder user about me information -->
              <ul style="list-style-type: none;">
                <li>Birthday: {{user.birthday}}</li>
                <li>Gender: {{user.gender}}</li>
                <li>Age: {{user.age}}</li>
                <li>Spoken languages: {{user.spokenLanguage}}</li>
                <li>Programming languages: {{user.programmingLanguage}}</li>
              </ul>

            </div>
          </div>

          <br />

          <!-- Reputation Section -->
          <div class="card reputation">
            <div class="card-body">
              <h4 class="card-title text-center">
                <strong>Reputation</strong>
              </h4>
              <hr />
              <ul style="list-style-type: none;">
                <li>Badge</li>
                <li># of questions asked</li>
                <li># of answers</li>
                <li># of accepted answers</li>
                <li># of rejected answers</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <!-- Questions asked by the user -->
          <h3>Asked questions</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row question-row">
                <div class="col-sm-8"><strong>Title</strong></div>
                <div class="col-sm-1"><span class="badge">Replies</span></div>
                <div class="col-sm-2"><strong>Date</strong></div>
                <div class="col-sm-1"><strong>Status</strong></div>
              </div>
            </li>
              {{#each questions}}
                <li class="list-group-item">
                  <a href="/question/{{id}}">
                    <div class="row question-row">
                      <div class="col-sm-8">{{title}}</div>
                      <div class="col-sm-1">
                        <center>
                          <span class="badge">{{nbOfVotes}}</span>
                        </center>
                      </div>
                      <div class="col-sm-2">{{moment date format="MMMM D, YYYY"}}</div>
                      <div class="col-sm-1">
                        <center>
                          <span class="glyphicon glyphicon-lock"></span>
                          <span class="glyphicon glyphicon-refresh"></span>
                        </center>
                      </div>
                    </div>
                  </a>
                </li>
            {{/each}}

          </ul>

          <!-- User's answers to other questions -->
          <h3>Posted answers</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row question-row" >
                <div class="col-sm-3"><center><strong>Author</strong></center></div>
                <div class="col-sm-6"><strong>Title</strong></div>
                <div class="col-sm-2"><strong>Date</strong></div>
                <div class="col-sm-1"><strong>Status</strong></div>
              </div>
            </li>
            {{#each answers}}
              <li class="list-group-item">
                <a href="/question/{{id}}">
                  <div class="row question-row">
                    <div class="col-sm-1"><center><img class="img-circle profile-icon" src="/images/default1.png"></center></div>
                    <div class="col-sm-2">{{username}}</div>
                    <div class="col-sm-6">{{title}}</div>
                    <div class="col-sm-2">{{moment date format="MMMM D, YYYY"}}</div>
                    <div class="col-sm-1">
                      <center>
                        <span class="glyphicon glyphicon-lock"></span>
                        <span class="glyphicon glyphicon-refresh"></span>
                      </center>
                    </div>
                  </div>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>